{% extends 'base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}About Us{% endblock %}

{% block content %}
    <div align="center">
        <img src="/media/imgs/WCH.jpg" style="width: 100%;height: auto;">
        <div class="ui horizontal divider">About Us</div>
        <p style="text-align: justify;">
            <br>
            With the further development of the precision medical science, molecular genetics mechanism and evolution will become the key to realize the revelation of genetics mechanism and the innovation of technology. In February, 2018, supported by West China Hospital, Institutes for Systems Genetics was officially established, aiming at integrating the existed biobank, supporting platforms of genomics、proteomics and metabonomics as well as the biomedical big data center in West China Hospital. By cooperating with experts in clinical medicine and basic medicine, our institute has been exploring the occurrence and development of human rare diseases’ genetic problem, promoting the cutting-edge research in medicine.
            <br>
            <br>
            West China Hospital invests over 46 million yuan in our institute (approximately 6 million for basic operation, 20 million for the equipment and 20 million for the experiments which co-work with the clinic). Now, the institute is located in Auspiciousness Peace Center, covering an area of 1,400 square meters (half of the area is for experiment center, with 400 square meters for computing center and the rest for administrative area). In the near future, the institute will move to the Singapore-Sichuan Science and Technology Innovation Park, which belongs to Disease Molecular Networks Advanced Science Center, covering an area of 4,000 square meters. As planned, the area will be divided into 4 centers, including disease genes and genomic evolution research center、biomedical informatics research center、molecular genetics of rare diseases research center and clinical research cooperation center.
            <br>
            <br>
            With 10 full-time scientific-research-oriented PIs and 10 part-time international PIs, the Institute for Systems Genetics will strive to develop into the international advanced level scientific research institution. Professor Jingqiu Cheng is responsible for rear disease platform, while Professor Bairong Shen takes charge in the theoretical computing platform. We also have ten other domestic and overseas renowned PIs from related fields, including system genetics、molecular diagnostic design、epigenomics and biomedical information, etc. Now our team is conducting the research project of “Construction and Clinical Application of Human Genetic Molecular Network Map”，as well as some other important projects.
            <br>
        </p>
    </div>
{% endblock %}